h1 {
  text-align: center;
}

img{
  width: 31%;
  float: left;
}

.column {
  width: 20%;
  float: left;
}

.box{
  border: 2px solid blue;
  padding: 12px;
  margin: 20px;
  width:100px;
  height: auto;
}
